body{
	margin: 0rem;
	padding: 0rem;
	background-color: #88BDBC;
}
#guide {
	position: fixed;
	top: 0rem;
	left: 0rem;
	height: 2.0625rem;
	width: 100%;
	background-color: #EEE2DC;
	opacity: 0.85;
}
#guide #guide-content {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding-top: 0.3125rem;
	margin-left: 2.5rem;
	height: 1.75rem;
	width: 7.5rem;
	border: 0rem;
	font-size: 0.9375rem;
    /* color: #C96567; */
	background-color: #EEE2DC;
}
#title-header {
	margin-top: 0rem;
	height: 17.8125rem;
	background: url(./image/v.png);
	background-size: cover;
	position: relative;
}
#title-header #p {
	position: absolute;
	top: 2.1875rem;
	left: 40%;
	height: 3.125rem;
	padding: 0.5rem;
	border-radius: 0.3125rem;
	color: #FFFFFF;
	font-size: 2.5rem;
	font-family: "eras medium itc";
	/* background-color: #C96567; */
	/* opacity: 0.65; */
}
#auto {
	/* border: 1px cadetblue solid; */
	position: relative;
	background-color: #EAE7DC;
	min-height: 31.25rem;
    /* opacity: 0.6; */
}
#auto #Content-blog {
	display: inline-block;
	margin: 1.25rem;
	width: 50%;
}
#auto #prossinaly-message {
	display: inline-block;
	height: 25rem;
	width: 18.75rem;
	border-radius: 5px;
	/* border: 1px black solid; */
	position: absolute;
	top: 1.25rem;
	left: 78%;
}
#auto #Content-blog #content {
	margin: 35px 5px 5px 5px;
	padding: 0.625rem;
	background-color: #FFFFFF;
}

#auto #Content-blog #content #title {
	font-family: "微软雅黑";
}

#last-message {
	background-color: #1A1A1D;
	height: 12.5rem;
}